* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

// html,
// body {
//     width: 100%;
//     height: 100%;
// }

button:hover {
    cursor: pointer;
}

.popup , .popup2 {
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

.main {
    /* overflow-x: hidden; */
    max-width: 100vw;
    min-height: 100vh;
    position: relative;
    /* background-color: crimson; */
}

.nav {
    height: 8.5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 35px;
    /* background-color: crimson; */
}

.nav img {
    width: 7.5vw;
    height: 4vh;
}

// .nav .icons {
//     display: none;
// }

.nav input {
    width: 34vw;
    height: 4.5vh;
    border-radius: 50px;
    border: 2px solid rgb(207, 207, 207);
    padding: 0px 15px;
    font-size: 0.9vw;
    margin-right: 20vw;
}

.input-media .topbtns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.input-media button {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    width: 30vw;
    height: 10vw;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 7px;
    background-color: white;
    font-weight: bolder;
    font-size: 3.5vw;
}

.input-media {
    height: 17.5vh;
    width: 100%;
    display: none;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    /* background-color: cadetblue; */
    padding-top: 10px;
}

.input-media input {
    width: 80vw;
    height: 9vw;
    border-radius: 50px;
    border: 2px solid rgb(200, 200, 200);
    padding: 2px 15px;
}




.contain {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

.left {
    width: 18%;
    height: 100%;
    /* background-color: chartreuse; */
    /* position: absolute; */
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px 3vw;
}

.container h1 {
    font-size: 1.28vw;
}

.container .btn {
    width: 6vw;
    padding-left: 27px;
}

.container .btn button {
    width: 6.5vw;
    height: 3.5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    margin: 5px 0px;
    background-color: transparent;
    border: none;
    gap: 2px;
    font-size: 0.85vw;
    padding-left: .3vw;
    border-radius: 50px;
}

.container .btn button:hover {
    background-color: rgba(0, 0, 0, 0.073);
    cursor: pointer;
}

.right {
    width: 82%;
    height: 100%;
    /* background-color: cadetblue; */
    /* position: absolute; */
}

.cards {
    display: grid;
    grid-template-columns: 17vw 17vw 17vw 17vw;
    padding: 25px 3vw;
    row-gap: 1vw;
    column-gap: 1vw;
}

.card {
    box-shadow: 0px 0px 8px 1px rgba(233, 233, 233, 0.88);
    max-width: 20vw;
    height: 13vw;
    /* background-color: palevioletred; */
    display: flex;
    flex-direction: column;
    padding: 3vw 1.3vw;
    margin: 0px 1.5vw 1.5vw 0px;
    border-radius: 5px;
    border: 1px solid rgb(202, 202, 202);

}

.card h1 {
    font-size: 0.49vw;
    margin-bottom: 2px;
    width: fit-content;
    padding: 2px 4px;
    border-radius: 50px;
    text-transform: uppercase;
}

.card h2 {
    font-size: 1.1vw;
}

.card p {
    width: 95%;
    font-size: 0.77vw;
}

#website h1 {
    background-color: rgba(255, 255, 125, 0.526);
}

#script h1 {
    background-color: rgb(80, 208, 255, 0.526);
}

#photo h1 {
    background-color: rgb(255, 160, 252, 0.5);
}

#email h1 {
    background-color: rgb(255, 168, 101, 0.5);
}

#sms h1 {
    background-color: #d36cff87;
}

#social h1 {
    background-color: rgb(156, 255, 157, 0.5);
}

footer {
    display: flex;
    width: 100%;
    height: 8vh;
    background-color: #1F5466;
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}





@media (max-width:950px){
    .main {
        max-width: 100vw;
        min-height: 100vh;
        position: relative;
        overflow-x: hidden;
    }
    .nav img {
        width: 150px;
        height: 45px;
        padding-top: 1vw;
    }
    .nav {
        height: 10vh;
        width: 100%;
        /* background-color: rgb(212, 255, 127); */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0vw 25px;
        margin-top: 8px;
        gap: 100px;
        /* border-bottom: 2px solid red; */
    }
    .nav input {
        font-family: 'Nunito Sans', sans-serif;
        width: 80vw;
        height: 5vw;

    }
    .container{
        padding: 20px 7vw 20px 3vw;
    }
    .left .container h1{
        font-size: 2.1vw;
    }
    .left .container .btn button{
        font-size: 1.7vw;
    }
    .cards {
        display: grid;
        grid-template-columns: 24vw 24vw 24vw;
        padding: 25px 3vw;
        row-gap: 1vw;
        column-gap: 1vw;
    }
    .card {
        box-shadow: 0px 0px 6px 1px rgb(200 200 200 / 88%);
        max-width: 25vw;
        height: 18vw;
        /* background-color: palevioletred; */
        display: flex;
        flex-direction: column;
        padding: 3vw 1.3vw;
        margin: 0px 1.5vw 1.5vw 0px;
        border-radius: 5px;
        border: 1px solid rgb(202, 202, 202);
    
    }
    .card h1 {
        font-size: 1vw;
        margin-bottom: 2px;
        width: fit-content;
        padding: 5px 7px;
        border-radius: 50px;
        text-transform: uppercase;
    }
    .card h2 {
        font-size: 1.7vw;
    }
    
    .card p {
        width: 95%;
        font-size: 1.3vw;
    }
    
}






@media (max-width:770px) {
    .main {
        max-width: 100vw;
        min-height: 100vh;
        position: relative;
        overflow-x: hidden;
    }

    .nav {
        height: 10vh;
        width: 100%;
        /* background-color: rgb(212, 255, 127); */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0vw 25px;
        margin-top: 8px;
        /* border-bottom: 2px solid red; */
    }

    .nav img {
        width: 150px;
        height: 45px;
        padding-top: 1vw;
    }

    .nav input {
        display: none;
        font-family: 'Nunito Sans', sans-serif;

    }

    .input-media {
        display: flex;
        font-family: 'Nunito Sans', sans-serif;
        /* border-bottom: 2px solid black; */
        
    }
    .input-media input{
        padding: 0px 15px;
        font-size: 4vw;
    }

    .left {
        width: 0;
        height: 0;
        display: none;
    }

    .right {
        width: 100%;
        height: 100%;
        /* background-color: cadetblue; */
        position: relative;
        padding: 0px 2vw;
    }

    .cards {
        display: grid;
        grid-template-columns: 100vw;
        row-gap: 10vw;
    }

    .card {
        max-width: 90vw;
        height: 30vh;
        /* background-color: green; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* margin: 0px 1.5vw 1.5vw 0px; */
        padding-left: 5vw;
        border-radius: 5px;
        border: 1px solid rgb(202, 202, 202);
        line-height: 7vw;
    }

    .card h1 {
        font-size: 2vw;
        margin-bottom: 2px;
        width: fit-content;
        padding: 0vw 2vw;
        border-radius: 50px;
        text-transform: uppercase;
        font-family: 'Nunito Sans', sans-serif;
    }

    .card h2 {
        font-size: 5vw;
        font-family: 'Nunito Sans', sans-serif;
    }

    .card p {
        width: 95%;
        font-size: 4vw;
        font-family: 'Nunito Sans', sans-serif;
    }

    #social h1 {
        background-color: rgb(156, 255, 157);
        font-size: 2vw;
    }

    footer {
        display: flex;
        width: 100%;
        height: 7.5vh;
        background-color: #1F5466;
        color: white;
        justify-content: center;
        align-items: center;
        font-weight: 200;
        font-size: 3vw;
        letter-spacing: 1px;
    }

    .popup {
        position: absolute;
        width: 100%;
        min-height: 100vh;
        /* background-color: rgba(0, 0, 0, 0.568); */
        z-index: 99999;
        display: none;
        border-radius: 10px 10px 0px 0px;
    }

    .popup2 {
        position: absolute;
        width: 100%;
        min-height: 100vh;
        /* background-color: rgba(0, 0, 0, 0.568); */
        z-index: 99999;
        display: none;
        border-radius: 10px 10px 0px 0px;
    }

    .mobilcat {
        overflow: hidden;
        position: fixed;
        bottom: 0%;
        width: 100%;
        height: 35%;
        background-color: white;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 2px 0px 13px 2px rgb(88 88 88);
    }

    .line {
        margin-top: 15px;
        width: 100%;
        height: 4vh;
        padding: 0px 15px;
        /* background-color: springgreen; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .line i:hover {
        cursor: pointer;

    }

    .mobilcat .line h1 {
        font-size: 4vw;
        font-weight: 600;
    }

    .mobilcat .line i {
        font-size: 24px;
    }

    .links {
        display: flex;
        flex-direction: column;
    }

    .links button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 15px;
        height: 4vh;
        border-radius: 50px;
        background-color: transparent;
        border: none;
        font-size: 3vw;
        gap: 5px;
    }

    .links button:nth-child(1) {
        margin-top: 5px;
    }
}