* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
button:hover{
    cursor: pointer;
}
i:hover{
    cursor: pointer;
}
html,
body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.main {
    height: 100vh;
    width: 100vw;
    /* background-color: coral; */
    display: flex;
}

.left {
    width: 40%;
    height: 100%;
    border-right: 1px solid rgb(199, 199, 199);
    padding: 1.5vw 2vw;
}

.back {
    width: 2.2vw;
    height: 2.2vw;
    background-color: #E5EBF9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.back i {
    font-size: 25px;
}

.left>h1 {
    margin-top: 2vw;
    font-size: 1.2vw;
}

.left>h4 {
    margin-top: 0.3vw;
    font-size: 0.8vw;
    color: rgb(137, 137, 137);
    font-weight: 300;
}

.typearea {
    margin-top: 1.5vw;
}

.typearea h1 {
    font-size: 1.1vw;
}

.typearea .upload {
    margin-top: 1vw;
    width: 100%;
    height: 20vw;
    border: 2px dashed rgb(205, 205, 205);
    border-radius: 7px;
    padding: 15px;
    font-size: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* box-shadow: 0px 0px 12px 0px rgb(205, 205, 205); */
}

.typearea .upload:hover {
    cursor: pointer;
}

.typearea .upload i {
    font-size: 1.5vw;
}

.typearea .upload h4 {
    font-size: 0.7vw;
    font-weight: 100;
}

.typearea .upload h2 {
    font-size: 0.7vw;
    font-weight: 100;
}

.typearea button {
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 1vw;
    width: 100%;
    height: 2.2vw;
    border-radius: 50px;
    border: none;
    background-color: #1F5466;
    font-size: 0.8vw;
    color: white;
    padding: 0.5vw 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.typearea button i {
    margin-right: 0.25vw;
}

.typearea h6 {
    font-size: 0.77vw;
    color: rgb(116, 116, 116);
    font-weight: 100;
}

.right {
    width: 60%;
    height: 100%;
    /* border-right: 2px solid red; */
    /* background-color: rgb(161, 112, 112); */
    padding: 3vw;
}