.dropdown {
    position: relative;
    user-select: none;
    cursor: pointer;
    padding: 1rem;
    &--head{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        img {
            width: 2rem;
            border-radius: 50%;
        }
    }
    .links{
        display: none;
        z-index: 60;
        max-height: 25rem;
        overflow-y: auto;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 3.5rem;
        border-radius: 0.5rem;
        background: #fff;   
        box-shadow:  0 0 #0000, 0 0 #0000, var(--tw-shadow);

        .link{
            display: block;
            white-space: nowrap;
            padding: 0.5rem 1rem;
            border: none;
            color: #222;
            &:hover {
                background-color: #eee;
                text-decoration: none;
                color: var(--yellow-color);
            }
            &:first-child {
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
            }
            &:last-child {
                border-bottom-left-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
            .l-name {
                font-size: 1.2rem;
            }
            .l-desc{
                font-size: 0.7rem;
            }
        }
        &.open{
            display: block;
        }
    }

}

.nav-link{
    color: var(--blue-color);
    padding: 1rem;
    display: block;
    font-size: 1.1rem;
    text-align: center;
    &:hover{
        text-decoration: none;
        background: #eee;
        color: var(--yellow-color);
    }
}

@media(max-width: 770px){
    .dropdown{
        &--head {
            display: none;
        }
        .links{
            width: 100%;
            margin-top: 0;
            box-shadow: none;
            display: block;
            position: relative;
            border-radius: 0;
            .link {
                &:first-child {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
                &:last-child {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

        }
    }
}

.unauth-menu {
    display: flex;
    flex-direction: row;
}